@import 'bulma/css/bulma.css';
@import url("https://use.typekit.net/iab6pmt.css");

// html {
//   background-image: url('/src/images/greenbgtest.png');
// }

$darkgreen: #48573e;
$fadedwhite: #fafafa87;

body {
  h1, h2, h3, h4, h5, a, label.label {
  font-family: kansasnew, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: $darkgreen;
  }

  background-image: url('/src/images/greenbgtest.png');

  h1 {
    font-size: 56px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

}

.hero-body {
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: #48573e;
  color: #fbfbfb;
  font-family: kansasnew, serif;
  border: none;
}

.content-dogshow{
    padding: 0.5rem;
  }

.card, .card-header {
  box-shadow: none;
  border-radius: 0;
}

.box {
  box-shadow: none;
}

.cta {
  display: flex;
  align-items: center;
    a {
      padding: 10px;
    }
}

.search-filter-wrapper {
  form {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
  }

  button {
    margin-top: 25px;
  }

}

.field.comment {
  display: flex;
  flex-direction: column;
  input {
    height: 50px;
  }
}

.footer {
  background-color: #fafafa87;
  padding: 3rem 1.5rem 4rem;
  margin-top: 1rem;
}

.full-height {
  height: 80vh;
}

.map-container {
  height: calc(80vh - 52px);
  width: 100%;
}

.white {
  background-color:$fadedwhite;
}
